.container-father-user {
  padding-right: 73.5%;
  padding-top: 30px;
}

.User-Info-Box2 {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  background-color: rgba(255, 255, 255, 0.892);
  box-shadow: 2px 2px 2px #00000014;
  border-radius: 4px;
}

.User-info-box-child2 {
  display: flex;
  flex-direction: column;
  border-color: antiquewhite;
  padding-left: 10px;
  justify-content: center;
  font-weight: 700;
  align-items: flex-start;
}

.role-span {
  font-weight: 200;
  font-size: 10pt;
  font-style: italic;
}

.user-img2 {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
