.table-container{ 
    width: 700%;
    padding: 10px;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.title-list{
    color: #343434;
    letter-spacing: 5px;
    font-size: 30pt;
    align-self: flex-end;
    padding-right: 2%;
}