#template{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f8554d;
    text-align: center;
    flex-direction: column;
    background-image: url("../../../assets/BackgroundFood.png");
  }