.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fe473c;
  text-align: center;
  flex-direction: column;
  background-image: url("../../assets/BackgroundFood.png");
  background-position: center;
  background-size: cover;
}

.Slide-imgs {
  overflow: hidden;
  position: relative;
}

img {
  width: 18%;
  object-fit: cover;
}

#img2 {
  display: none;
}

.active {
  display: block;
  transition: all 1s;
}

h1 {
  font-size: 8vw;
  color: aliceblue;
  transition: all 0.5s;
}

h1:hover {
  color: #76110c;
  letter-spacing: 20px;
}

button {
  width: auto;
  padding: 20px;
  font-weight: 700;
  font-size: 1vw;
  color: #000000;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

button:hover {
  color: #f5160a;
}
