.Container-overview{
    width: 60%;
    background-color: white;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container{
    background-color: rgb(240, 240, 240);
    width: 80%;
}   
