*{
  font-family: 'Rubik', sans-serif;
}

.NavBar-container {
  width: 98%;
  margin: 0.50% 0% 0% 1%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Menu-Box {
  width: 12%;
  background-color: #fe473c;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/BackgroundFood.png");
  background-size: 1000px; 
}

h3 {
  color: white;
  font-size: 1.75vw;
  transition: all 0.8s;
}

h3:hover{
  color: #76110c;
  letter-spacing: 20px;
}

.Logo-container {
  width: 85%;
  outline: solid rgb(166, 166, 166);
  height: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.0s;
  background-image: url("../../assets/sideBackGround.png");
  background-size: 100px; 
}

.Logo-container:hover{
  outline:solid #fe473c;
}

.logo {
  width: 4%;
}

.Icons-Containers {
  width: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 4vh;
  width: 100%;
  background-color: #fe473c;
  cursor: pointer;
  border-style: none;
  background-image: url("../../assets/BackgroundFood.png");
  background-size: 600px; 
}

button > i {
  font-size: 1vw;
  color: white;
}

button:hover {
  background-color: #76110c;
}


.sideBar{
  height: 800px;
  width: 120px;
  background-color: blue;

}

.css-zyizc9-MuiButtonBase-root-MuiButton-root{
  font-weight: bolder;
}