.disableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.restauranteAvility {
  background-color: #d5d6d6b5;
  width: 90%;
  height: 25px;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;
  justify-content: space-between;
  border-radius: 15px;
}

.restauranteState {
  background-color: #d5d6d6b5;
  width: 90%;
  height: 25px;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: space-between;
  border-radius: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  margin-bottom: 20px;
  font-size: 30px;
  margin-right: 10px;

}

.buttonDis{
  border-radius: 10px;
  border-radius: rgb(177, 177, 220);
  margin-top: 40px;
  border: transparent;


}

.cancelButton {
  margin-right: 10px;
  color: rgb(150, 150, 225);
}
.doneButton {
  color: white;
  background-color: #ff4d00;
  padding: 10px;
}
