.disableContainer{
    background-color: #fefefef2;
    padding: 20px;
    height: 450px;
}

.restauranteAvility{
    background-color: #d5d6d6b5;
    width: 700px;
    height: 25px;
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 20px;
    justify-content: space-between;
}

.restauranteState{
    background-color: #d5d6d6b5;
    width: 700px;
    height: 25px;
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: space-between;
}
.disableButtons{
    display: flex;
    margin-left: 350px;
    margin-top: 180px;
    margin-right: 20%;
}
