.general-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.img-resto {
  width: 200px;
  height: 200px;
  padding: 20px;
}

.inputs {
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 6px;
  padding: 10px;
  /* margin: 10px; */
  transition: all 0.6s;
  background: transparent;
}

.inputs:focus {
  background-color: white;
  color: black;
}

.inputs:disabled{
    color: white;
}

#name{
    font-size: 30px;
}

#food_type{
    font-size: 20px;
}

#phone_number{
    font-size: 20px;
}

#delivery_fee{
    font-size: 20px;
}

#address{
    font-size: 20px;
}

#description{
    font-size: 20px;
}

.edit-information{
    height: fit-content;
    padding: 20px;
}


.Buttons-Edit-Box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}


.Button-done{
    font-weight: 700;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 15pt;
    border-radius: 6px;
    cursor: pointer;
    background-color: green;
    color: white;
}

.Button-cancel{
    font-weight: 700;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 15pt;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(128, 11, 0);
    color: white; 
}